@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');


.particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -20;
    top: 0px;
    left: 0px;
    background-color: #330b3d;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.content {
    z-index: 100;
    color: white !important;
}

.font {
    font-family: 'IBM Plex Sans', sans-serif;
}